.calc__math{
    display: flex;
    justify-content: space-around;
    width: 240px;
    height: 56px;
    left: 76px;
    top: 178px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px
}
.operator{
    width: 52px;
    height: 48px;
    left: 80px;
    top: 182px;

    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 6px;
}

.operator:hover {
    border-color: #5D5FEF;;
}