.calc__numbers{
    width: 240px;
    height: 224px;
    left: 76px;
    top: 246px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.number{
    width: 72px;
    height: 48px;
    left: 240px;
    top: 250px;
    margin: 1px;

    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 6px;
}
.number:hover {
    border-color: #5D5FEF;;
}